.logoFont{
	font-family: 'Arizonia';
	font-weight: 900;
	font-style: italic;
	font-color: #cc3300;
}
.dir-row{
	display:flex;
	flex-direction: row;
}
.fx-left{
	align-content:left;
}
.fx-right{
	align-content:right;
}
.barFont{
	font-family: 'Alef';
	font-weight: 900;
	font-color: #cc3300;
}
.sameline{
	display:inline-block;
	border: 1px solid red;
	padding-left:2%;
	padding-right:2%;
	
}